

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    width: 360px;
    /* margin: 4rem; */
    border-radius: 19px;
    padding: 3rem;
    box-shadow: 0 -2px 14px rgb(231, 225, 225);
}

.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form_input{
    padding: 7px;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background: none;
    border: 1px solid #DADCE0;
    border-radius: 0.5rem;
}

.sign_div{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.form_button{
    width: 12rem;
    height: 2rem;
    font-family: cursive;
    cursor: pointer;
    border: 2px solid rgb(23, 0, 128);
    border-radius: 9px;
}

.button_div{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_button{
    text-decoration: none;
    width: 12rem;
    height: 2rem;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    border: 2px solid rgb(23, 0, 128);
    border-radius: 9px;
}













